/* element rules */
html{
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family:'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/assets/media/orbeez.jpg');
  background-size: cover;
  height: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #25274D;
  padding-bottom: 10px;
  
}

main {
  height: 100%;
  width: 100%;
  background-color: #cdcfd29a;
  /* background: 
    linear-gradient(180, #aaabb834, #aaabb83c ); */
  min-height: 80em;
  width: 100%;
  color: #25274D;
}

.section-header{
  text-align: center;
  font-weight: bold;
 
 }
 
 .page-section{
   padding: 25px 0px 25px 0px
 }
 
/* NEW HEADER RULES */
.header{
  height: 0%;
}



/*  ABOUT */
#about-section {
  height: 100%;
  width: 100%;
  align-content: center;
}


.skill-section{
  float: left;
  width: 50%;
}

.skill-text{
  display: inline-block
}
.skill-list{
  display: inline-block;
  font-size: 12px;
}

.bio-section{
text-align: center;
float: right;
width: 50%;
}

.profile-div{
  border-radius: 50%;
  object-fit: contain;
  background-size: cover;
  float: left;
  /* outline: 5px rgba(255, 255, 255, 0.523) solid; */
  background-image: url('./assets/media/profile-cropped-2.jpg');
  margin-right: 5px;
    
  /* Change the shape according
      to the image */
  shape-outside: circle();
}

.bio-text{
text-align: center;
}

.profile-title{
  color: #25274D;
  font-family: 'Rubik Mono One', sans-serif ;
}

/* Portfolio */
.project-holder{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}




/* GENERAL */

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.centered{
  text-align: center;
}

.left{
  text-align: left;
}

/* RESUME */
#resume-section{}


.links-container{
  display: block;
  width: 15%;
  margin-left: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  font-size: 20px;;
}

.resume-container{
  display: block;
  width: 80%;
  margin: 5%;
  padding: 5%;
  font-size: 16px;
}

.contact-info{
  float: left;
  text-align: left;
  width: 100%;
}

.work-xp p{
  text-align: left;
}



/* Footer */
#footer-section{
  text-align: center;
  background-color: #25274D;
  padding-bottom: 30px;
  
}

.footer-links, .fa-solid {
  margin: 25px;
  font-size: 55px;
  color: #DEF2F1;
  margin-bottom: 35px;
}


/* Specific rules */

.add-25-bott{
  margin-bottom: 25px;
 }
 
 .padding-top{
   padding-top: 25px;
 }


/* Cloud cover */
.section-div{
  height: 17px;
}
.transp-15{
  background: 
    linear-gradient(180deg, #2e9bca2e, #29638a37 );
}

.transp-25{
  background: 
  linear-gradient(180deg, #2e9bca56, #29638a46 );
}

.transp-35{
  background: 
  linear-gradient(180deg,#2e9bca6e, #29638a67 );
}


/* media queries */
/* DIVIDE */
@media only screen and (max-width: 405px){

header{
  align-items: center;
  text-align: center;
  height: 150px;
}

#header-namer{
  display: none;  
}

.navigation-bar{
  padding: auto;
  height: 100%;
}

.header-list{
  height: 100%;
}

.navigation-links{
  text-align: justify;
  background: transparent;
}

.bubble-button{
  height: 60%;
  margin: 20px 15px 15px 0px;
  border-radius: 50%;
  border: solid 5px #2E9CCA;
}

.mobile-namer {
    font-family: 'Rubik Mono One';
    color:#25274D;
    display: block;
    text-align: center;
    font-size: 35px;
    width: 60%;
    margin: auto;
    letter-spacing: -.2rem;    
  }

.skill-section{
  font-size: 20px;
}

.skill-list{
  font-size: 18px;
  text-align: left;

}
.about-section{
  display: block;
  }
  
.skill-section, .bio-section{
  float: none;
  display: block;
  width: 100%;
  text-align: center;
  }

.skill-text, .bio-text{
  margin: 10px;
}

.profile-title{
    font-size: 35px;
    display: block;
    margin-bottom: -10px;
    padding-bottom: -10px;
    margin-right: 0px;
}

#me{
  margin-top: -15px;
  margin-right: 10px;
}
#about{
margin-right: 60px;  
padding-left: 0px
}

.profile-div{
    border: 5px solid ;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Portfolio */
#project-page{
  width: 100%;
  display: inline-block;
}

.project-header{
  font-size: 40px;
  border-bottom: #29638a40 solid 3px;
  align-self: center;
}
.project-holder{
  margin: 10px 10px 20px 10px;
  height: 100%;
  border-radius: 5%;
  border: solid 1px #25274d56;
  overflow: hidden;  
}

.project-image{
  text-align: center;
  aspect-ratio: 16/9;
  padding-bottom: 0;
  margin-bottom: 0;
}

.project-jpg{
  height: 100%;
  max-width: 100%;
  object-fit: fill;
  filter:opacity(75%);
  padding-top: 1px;
  margin-bottom: 0;
}

.project-jpg:hover{
  filter:opacity(100%);
}

.project-title{
  color: #25274D;
  padding: 5px;
  font-size: 25px;
  margin: 0;
}

.project-desc{
  padding: 0 10px 10px 10px;
}

.project-links{
  width: 100%;
  display: inline-flex;  
  padding: 2% 0 2% 0;
  background-color: #25274d37;
  font-size: 20px;
}

.repo-link{
  color: #25274D;
  text-decoration: none;
  padding-left: 13%;
  padding-right: 2%;
  width: 45%;
}

.site-link{
  width: 45%;
  text-decoration: none;
  color: #25274D;
  padding-left: 15%;
  border-right: solid 2px #25274D
}

.site-link:active{
  color: white;
  text-shadow:
    0 0 7px #52a8cc,
    0 0 10px #52a8cc,
    0 0 21px #52a8cc,
    0 0 42px #2E9CCA,
    0 0 82px #2E9CCA,
    0 0 92px #2E9CCA,
    0 0 102px #2E9CCA,
    0 0 151px #2E9CCA;
}

.repo-link:active{
  color: white;
  text-shadow:
    0 0 7px #52a8cc,
    0 0 10px #52a8cc,
    0 0 21px #52a8cc,
    0 0 42px #2E9CCA,
    0 0 82px #2E9CCA,
    0 0 92px #2E9CCA,
    0 0 102px #2E9CCA,
    0 0 151px #2E9CCA;
}

/* PORTFOLIO */
.links-container{
  width: 85%;
}
}



@media only screen and (min-width: 405px){
 #header-namer{
  display: none;    
  }
  header{
    align-items: center;
    text-align: center;
    height: 150px;
  }
  
  .navigation-bar{
    padding: auto;
    height: 100%;
  }
  
  .header-list{
    height: 100%;
  }
  
  .navigation-links{
    text-align: justify;
    background: transparent;
  }
  
.bubble-button{
  height: 60%;
  margin: 20px 15px 15px 0px;
  border-radius: 50%;
  border: solid 5px #2E9CCA
  }

.mobile-namer {
  font-family: 'Rubik Mono One';
  color:#25274dde;
  display: block;
  text-align: center;
  font-size: 40px;
  width: 60%;
  margin: auto;
  letter-spacing: -.2rem;    
  }

.skill-section, .bio-section{
    float: none;
    margin: 10px;
    display: block;
    text-align: center;
    width: 100%;  
  }

.skill-text, .bio-text{
    margin: 20px;
    font-size: 20px;
}

.skill-list, .ongoing{
  text-align: left;
  font-size: 20px;
}

.profile-div{
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
.profile-title{
  font-size: 30px;
  display: block;
  margin-bottom: -10px;
  padding-bottom: -10px;
  margin-right: 0px;
}
#about{
  margin-top: -15px;
  margin-bottom: -10px;
  margin-right: 10px;
}

#me{
 margin-top: -10px;
}

/* Portfolio */
#project-page{
  width: 100%;
  display: inline-block;
}

/* .project-container{
  backdrop-filter: blur(10px);
} */
.project-header{
  font-size: 45px;
  border-bottom: #29638a40 solid 3px;
  align-self: center;

}
.project-holder{
  margin: 10px 10px 20px 10px;
  height: 100%;
  border-radius: 5%;
  border: solid 1px #25274d56;
  overflow: hidden; 
}

.project-image{
  text-align: center;
  aspect-ratio: 16/9;
  padding-bottom: 0;
  margin-bottom: 0;

}

.project-jpg{
  height: 100%;
  max-width: 100%;
  object-fit: fill;
  filter:opacity(75%);
  padding-top: 1px;
  margin-bottom: 0;
}

.project-jpg:hover{
  filter:opacity(100%);
}

.project-title{
  color: #25274D;
  padding: 10px;
  font-size: 25px;
  margin: 0;
}

.project-desc{
  padding: 0 10px 10px 10px;
}

.project-links{
  width: 100%;
  display: inline-flex;
  padding: 2% 0 2% 0;
  background-color: #25274d37;
  font-size: 25px;

}

.repo-link{
  color: #25274D;
  text-decoration: none;
  padding-left: 15%;
  width: 45%;
}

.site-link{
  width: 45%;
  text-decoration: none;
  color: #25274D;
  padding-left: 15%;
  border-right: solid 2px #25274D;
}

.site-link:hover{
  color: white;
  text-shadow:
    0 0 7px #52a8cc,
    0 0 10px #52a8cc,
    0 0 21px #52a8cc,
    0 0 42px #2E9CCA,
    0 0 82px #2E9CCA,
    0 0 92px #2E9CCA,
    0 0 102px #2E9CCA,
    0 0 151px #2E9CCA;
}

.repo-link:hover{
  color: white;
  text-shadow:
    0 0 7px #52a8cc,
    0 0 10px #52a8cc,
    0 0 21px #52a8cc,
    0 0 42px #2E9CCA,
    0 0 82px #2E9CCA,
    0 0 92px #2E9CCA,
    0 0 102px #2E9CCA,
    0 0 151px #2E9CCA;
}

.links-container{
  width: 85%;
}

}

@media only screen and (min-width: 600px){
  #header-namer{
   display: none
  }

  .skill-section{
    float: left;
    width: 45%;
    align-content: center;
  }
  
  .bio-section{
  text-align: center;
  float: right;
  width: 45%;
  align-content: center;
  }


}

@media only screen and (min-width: 768px){
#header-namer{
  text-decoration: none;
  float: left;
  display: inline;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

.mobile-namer, .transparent-text{
  display: none;
}

.header-list{
  float: right;
}

.skill-section{
  height: 100%;
}

#about{
  padding-top: 5%;
}


/* Projects */
#project-page{
  width: 100%;
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.project-container>* {
  flex: 1 1 250px;
  margin: 20px;
}

.links-container{
  width: 30%;
}

} 

@media only screen and (min-width: 1024px){
  #header-namer{
    font-size: 60px;
  };

  .header-span{
    font-size: 60px;
  }

  .profile-div{
    width: 400px;
    height: 400px;
    margin-left: 5%;
  }

  /* Projects */
#project-page{
  width: 100%;
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.project-container>* {
  flex: 1 1 450px;
  margin: 30px;
}
}